
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-stretch {
    justify-content: stretch;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
