
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-stretch {
    justify-content: stretch;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}