#loading-page-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #171717;
}

#loading-page-bg-left {
    position: fixed;
    height: 100%;
    width: 50%;
    left: 0;
    background-color: #171717;
    animation: loading-page-bg-left 1.2s forwards;
    transform-origin: center;
}

#loading-page-bg-right {
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: #171717;
    animation: loading-page-bg-right 1.2s forwards;
    transform-origin: center;
}

@keyframes loading-page-bg-left {
    0% {
        background-color: #171717;
        left: 0;
        animation-timing-function: linear;
    }
    15% {
        background-color: #D5D5D5;
        left: 0;
        transform: matrix(1, 0, 0, 1, 0, 0);
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.0, 1.0);
    }
    50% {
        background-color: #171717;
        left: 0;
        transform: matrix(1.2, 0, 0.2, 1, -100, 0);
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.67, 0.05);
    }
    100% {
        background-color: #171717;
        left: -50%;
        transform: matrix(1.2, 0, 0.2, 1, -380, 0);
        visibility: hidden;
    }
}

@keyframes loading-page-bg-right {
    0% {
        background-color: #171717;
        right: 0;
        animation-timing-function: linear;
    }
    15% {
        background-color: #D5D5D5;
        right: 0;
        transform: matrix(1, 0, 0, 1, 0, 0);
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.0, 1.0);
    }
    50% {
        background-color: #171717;
        right: 0;
        transform: matrix(1.2, 0, 0.2, 1, 100, 0);
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.67, 0.05);
    }
    100% {
        background-color: #171717;
        right: -50%;
        transform: matrix(1.2, 0, 0.2, 1, 380, 0);
        visibility: hidden;
    }
}


#main-loader-container {
    position: fixed;
    background-image: url('/assets/images/main_loader_bg.svg');
    width: 260px;
    height: 260px;
}

#main_loader_fill_mask_circle {
    stroke-dashoffset: 552.920192;
    animation: main-loader-mask-fill 2s forwards;
    animation-timing-function: cubic-bezier(0.6, 0.0, 0.0, 1.0);

}

@keyframes main-loader-mask-fill {
    from {
        stroke-dashoffset: 552.920192;
    }
    to {
        stroke-dashoffset: 0.0;
    }
}

#loading-transition-stripes {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.loading-transition-stripe-left {
    position: fixed;
    top: 100%;
    left: calc(50% - 20px);
    width: 20px;
    height: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: center;
    animation: loading-transition-stripe-left 1.2s forwards;
    z-index: 0;
}

@keyframes loading-transition-stripe-left {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        top: 100%;
        left: calc(50% - 20px);
        width: 20px;
        animation-timing-function: linear;
    }

    15% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        top: 0;
        left: calc(50% - 20px);
        width: 20px;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.0, 1.0);
    }

    50% {
        transform: matrix(1, 0, 0.2, 1, 0, 0);
        top: 0;
        left: calc(50% - 50px);
        width: 50px;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.67, 0.05);
    }
    
    100% {
        transform: matrix(1, 0, 0.2, 1, 0, 0);
        left: -300px;
        width: 160px;
        top: 0;
    }
}

.loading-transition-stripe-right {
    position: fixed;
    bottom: 100%;
    right: calc(50% - 20px);
    width: 20px;
    height: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: center;
    animation: loading-transition-stripe-right 1.2s forwards;
    z-index: 0;
}

@keyframes loading-transition-stripe-right {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        bottom: 100%;
        right: calc(50% - 20px);
        width: 20px;
        animation-timing-function: linear;
    }

    15% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        bottom: 0;
        right: calc(50% - 20px);
        width: 20px;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.0, 1.0);
    }

    50% {
        transform: matrix(1, 0, 0.2, 1, 0, 0);
        bottom: 0;
        right: calc(50% - 50px);
        width: 50px;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.67, 0.05);
    }
    
    100% {
        transform: matrix(1, 0, 0.2, 1, 0, 0);
        right: -300px;
        width: 160px;
        bottom: 0;
    }
}

.chrom-abbr-div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}