* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Saira', sans-serif;
}

.dots-tiled-grid-bg {
    position: fixed;
    left: 0;
    top: 0;
    background-repeat: repeat;
    background-image: url('/assets/images/dots-tiled-grid-bg.png');
    width: 100%;
    height: 100%;
    opacity: 0.15;
}
